smashing-slideshow
{
    position: relative;
    overflow: hidden;
}

smashing-rail
{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    max-width: initial;
    display: flex;
    transition-property: left, opacity;
    transition-duration: 0.5s, 0.25s;
    transition-timing-function: ease-in;
}

smashing-slide
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
