smashing-slideshow
{
    display: block;
    position: relative;

    smashing-viewport
    {
        display: block;
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    smashing-rail
    {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        max-width: initial;
        display: flex;
        transition-duration: 0.5s, 0.5s;
        transition-property: left, opacity;
    }
    
    smashing-slide
    {
        display: block;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    
    nav
    {
        position: absolute;
        width: 100%;
        bottom: -50px;
        display: flex;
        justify-content: center;

        button
        {
            width: 25px;
            height: 25px;
            margin: 5px;
            border-radius: 25px;
            background-color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button.active
        {
            background-color: white;
            border: 1px solid blue;
        }
    }

}
